# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# mac compilation and test output files
*.out
*.o
*.DS_Store

# input files
*.in

# windows compilation + visual studio
*.exe
*.obj
.vs/aoc24
.vs/slnx.sqlite